* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font", sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: rgba(43, 48, 59, 0.7); /* Semi-transparent */
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
    border-radius: 8px; /* Matches your corner_radius */
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: #ffffff;
    border-bottom: 3px solid transparent;
}

#workspaces button.focused {
    background-color: rgba(255, 255, 255, 0.1);
    border-bottom: 3px solid #ffffff;
    border-radius: 8px;
}

#clock, #battery, #pulseaudio, #backlight, #language, #workspaces, #tray {
    padding: 0 10px;
    margin: 4px 2px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
}

#battery.critical {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

